.text {
  &_align_center {
    text-align: center;
  }

  &_type {
    &_h1 {
      margin: 18px 0 24px;
    }
    &_h2 {
      margin: 45px 0 21px;
    }
    &_h3 {
      margin: 42px 0 0;
    }
    &_p {
      margin: 15px 0 21px;
    }
  }

  &_size {
    &_s {
      --text-w-s: 20px;
      --text-w-m: 48px;
      --text-w-l: 100px;
      --text-h: 8px;

      --text-lh: var(--line-height-text-s);
      .text__word {
        --temp: calc(var(--text-lh) - var(--text-h));
        margin-top: calc(var(--temp) * 0.63);
        margin-bottom: calc(var(--temp) * 0.37);
      }
    }
    &_m {
      --text-w-s: 24px;
      --text-w-m: 56px;
      --text-w-l: 114px;
      --text-h: 10px;

      --text-lh: var(--line-height-text-m);

      .text__word {
        --temp: calc(var(--text-lh) - var(--text-h));
        margin-top: calc(var(--temp) * 0.55);
        margin-bottom: calc(var(--temp) * 0.45);
      }
    }
    &_l {
      --text-w-s: 28px;
      --text-w-m: 68px;
      --text-w-l: 138px;
      --text-h: 11px;

      --text-lh: var(--line-height-text-l);

      .text__word {
        --temp: calc(var(--text-lh) - var(--text-h));
        margin-top: calc(var(--temp) * 0.45);
        margin-bottom: calc(var(--temp) * 0.55);
      }
    }
    &_xl {
      --text-w-s: 32px;
      --text-w-m: 74px;
      --text-w-l: 154px;
      --text-h: 13px;

      --text-lh: var(--line-height-text-xl);
      .text__word {
        --temp: calc(var(--text-lh) - var(--text-h));
        margin-top: calc(var(--temp) * 0.44);
        margin-bottom: calc(var(--temp) * 0.56);
      }
    }
    &_xxl {
      --text-w-s: 36px;
      --text-w-m: 88px;
      --text-w-l: 184px;
      --text-h: 16px;

      --text-lh: var(--line-height-text-xxl);
      .text__word {
        --temp: calc(var(--text-lh) - var(--text-h));
        margin-top: calc(var(--temp) * 0.37);
        margin-bottom: calc(var(--temp) * 0.63);
      }
    }
  }

  &__word {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--text-color);

    &_width {
      &_s {
        width: var(--text-w-s);
        height: var(--text-h);
      }
      &_m {
        width: var(--text-w-m);
        height: var(--text-h);
      }
      &_l {
        width: var(--text-w-l);
        height: var(--text-h);
      }
    }
  }

  &_view {
    &_primary {
      --text-color: var(--color-typo-primary);
    }
    &_secondary {
      --text-color: var(--color-typo-secondary);
    }
    &_ghost {
      --text-color: var(--color-typo-ghost);
    }
    &_link {
      --text-color: var(--color-typo-link);
    }
  }
}
